@import 'korb';

* {
    margin: 0;
    padding: 0;
}
body{
    font-family:"Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header{
    height: 735px;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header__input{
    width: 288px;
    height: 41px;
    border: 1px solid $color-text;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}
.header__input::placeholder{
    color: $color-text;
}

header{
    height: 77px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid $color-text;
}
.header__input::placeholder{
    color: #C4C4C4;
}
.meny__nav{
    display: flex;
    gap: 32px;
}
.meny__link{
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
    text-decoration: none;
}
.meny__link:hover{
    text-decoration: underline;
}
.titel {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    margin-top: 64px;
    margin-bottom: 16px;
    color: $color-text;
}
.titel__index {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: $color-text;
}
.index {
    font-size: 16px;
    line-height: 24px;
    color: $color-text;
}
.mobel__for {
    margin-top: 64px;
}
.header__mobel {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 32px;
}
.for {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}
.for__item {
    height: 415px;
    grid-column: span 4;
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
}
.for__item-1 {
    background-image: url(../img/rest.jpg);
}
.for__item-big {
    grid-column: span 6;
}
.for__item-2 {
    background-image: url(../img/work.jpg);
}
.for__item-3 {
    background-image: url(../img/kithen.jpg);
}
.for__item-4 {
    background-image: url(../img/children.jpg);
}
.for__item-5 {
    background-image: url(../img/bath.jpg);
}
.spezial {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 64px;
}
.product__content{
    display: flex;
    column-gap: 32px;
    row-gap: 64px;
    flex-wrap: wrap;
}
article{
    width: 378px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.produck__img{
    width: 100%;
}
.special__offers-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 8px;
    margin-top: 10px;
}
.special__offers-index {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin-bottom: 12px;
}
.produck__price{
    display: flex;
    gap: 32px;
}
.prise {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #050505;
}
.prise__alt {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: line-through;
    color: #888888;
}
.catalog-index{
    margin-left: 3px;
    margin-bottom: 64px;
}
.catalog__index-link{
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}
footer{
    background-color: #f7f6f6;
    display: flex;
    padding-top: 32px;
    padding-bottom: 40px;
}
.meny {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 12px;
}
.meny__style {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    margin-bottom: 12px;
}.meny__soz{
    margin-left: 129px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.meny__style-footer{
    display: block;
}
.meny__style:hover{
    text-decoration: underline;
}
.meny__cont{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 12px;
    color: #000000;
}
.footer__index {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12px;
}
.input {
    margin-bottom: 12px;
    background: $color-text;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #c4c4c4;
    width: 275px;
    height: 45px;
    box-sizing: border-box;
    padding: 12px 102px 14px 25px;
   
}
.button {
    background: rgba(222, 215, 215, 0.41);
    box-sizing: border-box;
    border-radius: 20px;
    width: 275px;
    height: 45px;
    font-size: 12px;
    line-height: 18px;
    border: 0;
    padding: 13px 85px 13px 85px
}
.header__input::placeholder{
    color: #C4C4C4;
}
.footer__img{
    stroke: black;
}
.meny__footer{
    margin-left: 212px;
}

.meny__form{
    margin-left: 177px;
}

@import '_linding';